/* color mặc định */
$bg-1           : #212529;
$bg-09          : #343a40;
$bg-08          : #495057;
$bg-07          : #6c757d;
$bg-06          : #adb5bd;
$bg-05          : #ced4da;
$bg-04          : #dee2e6;
$bg-03          : #e9ecef;
$bg-02          : #EDF2F7;
/* ===== không sửa trực tiếp ở đây do dùng replace */
$colorLv1       : #00adef;
$colorLv2       : #008ac0;
// $colorLv2       : #00bd7d;

/* ===== */
$colorSLv1      : #FF6500;
$colorSLv2      : #CD5C08;
/* ===== */
// $colorButtonLv1 : #00bd7d;
// $colorButtonLv2 : #004f3f;
$colorButtonLv1 : #00bd7d;
$colorButtonLv2 : #006d57;
/* ===== */
$colorTextLight : #ffd100;
// $colorTitle     : #ffffffCC;
$colorTitle     : #1f2d3d;
/* ===== */
$colorText      : #2c3e50;
$colorIcon      : #5a7dc2;
/* ===== */
$colorLabel     : #ad8e70;
/* ===== */
$colorPrice     : #ffd100;
$colorStar      : #ffd100;
$colorSuccess   : #008ac0;
$colorRed       : #FF6500;

$colorBackgroundLv1: #f7fafc;
$colorBackgroundLv2: #edf2f7;
$colorBackgroundLv3: #e2e8f0;

$fontTitle: "SVN-Gilroy Bold", sans-serif;
$fontText: "SVN-Gilroy", sans-serif;

@mixin iconCloseSquare {
    position: absolute;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    background: $colorBackgroundLv2;
    color: $colorText;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    right: 0;
    &:dir(rtl), [dir="rtl"] & {
        right: unset;
        left: 0;
        border-top-right-radius: unset;
        border-bottom-left-radius: unset;
        border-top-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    i {
        font-size: 1rem;
        color: rgba($colorText, 0.5);
    }
    &:hover {
        background: rgba(0,0,0,0.25);
        i {
            color: #fff !important;
        }
    }
}